<!DOCTYPE html>
<html lang="en">
	<head>

	    <meta charset="utf-8" />
    	<title>UBMK'17 - {% block title %}{% endblock %}</title>
    	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        {% block head %}{% endblock %}
	</head>
	<body >
	
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">UBMK'17</a>
		    </div>
	    {% block navbar %}{% endblock %}
	     </div><!-- /.container-fluid -->
		</nav>
		 {% block content %}{% endblock %}
		 <div>
		    <img src="static/images/share.png" alt="Sun"     style="width : 40%;     margin-left:30%;
   			 margin-right:30%;"  />
	     </div> 
	</body>
	
</html>