{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block navbar %}
{% if not current_user.is_authenticated %}

 <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <form class="navbar-form navbar-right">
       <!-- 
       
       
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        
        
         -->
		<a href = "{{ url_for('sign_in.sign_in_page') }}" class="btn btn-default">Sign In</a>
		        Or
		<a href = "{{ url_for('sign_up.sign_up_page') }}" class="btn btn-default">Sign Up</a>
      </form>
{% endif %}
{% if current_user.is_authenticated %}
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<form class="navbar-form navbar-right">
        		  Hi {{ current_user.name }}!
	<a href = "{{ url_for('log_out.log_out_page') }}" class="btn btn-default" >Log Out</a>
    </form>
{% endif %}
    </div><!-- /.navbar-collapse -->
    
{% endblock %}	

{% block head %}

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left:25%;
    margin-right:25%;
    margin-bottom:20px;
}

td, th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #fff;
}
tr:hover {background-color: #96807A;}

td > a:link {
    color: black;
}
td > a:visited {
    color: #4d4d00;
}
td > a:active {
    color: yellow;
} 


.foo {
  float: left;
  width: 20px;
  height: 20px;

  border: 1px solid rgba(0, 0, 0, .2);
}

.blue {
  background: #00B050;
}

.purple {
  background: #00B0F0;
}

.wine {
  background: #A9D08E;
}

.white {
  background: #fff;
}

</style>

{% endblock %}	


{% block content %}
  {% if abstracts %}
<form role = "form" action ="" name = "session_form" id = "session_form" method = "POST">
<div style="text-align:center; ">  
	<button type="submit" >Save sessions</button>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	<a href="{{ url_for('home.program_page') }}">Program</a>
</div>  

<br>
<div style=" 
    margin-left:25%;">  
	Total Number of Paper is : {{total_number_of_papers}}	
</div>  
<br>
<table>
  <tr>
    <th rowspan="1">Abs Id</th>
    <th rowspan="1">Paper Name</th>
    <th rowspan="1">Topic</th>
    <th>Session</th>
   </tr>
    {% for abstract in abstracts %}
      <tr>
         <td>{{abstract.abstract_id}}</td>
    	 <td bgcolor= {% if abstract.color %} {{abstract.color}} {% else %} "#fff" {% endif %}><a  href="{{  url_for('home.paper_page', abs = abstract.abstract_id)}}" title={{abstract.keywords}}>{{abstract.title}}</a></td>
    	   <td>{{abstract.topic}}</td>
    	   <td>
			<select name="sessions">
			    {% for sessionlist in sessions %}
			
			  <option value="{{abstract.abstract_id}},{{sessionlist.session}}" {% if abstract.session|string() == sessionlist.session|string() %} selected {% endif %} >{{sessionlist.session}}</option>
			  
		     {% endfor %}
		 
			</select>
</td>
      </tr>
    {% endfor %}
</table>
</form>
 {% endif %}
{% endblock %}	
